version: '3'
services:
  web:
    build: .
    ports:  
      - '3000:3000'
    volumes:  
      - /app/log # persist logs
    depends_on:
      - db
    tty: true
    stdin_open: true
    links: 
      - db

  nginx:
    build: containers/nginx
    ports:
      - "80:80"
    volumes_from:
      - web
    depends_on:
      - web

  db:
    image: mysql
    environment:
      - DATABASE_NAME=${DATABASE_NAME}
      - USER_NAME=${USER_NAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - END_POINT=${END_POINT}
    ports: 
      - "3306:3306"