version: '3'
services:
  web:
    build: .
    ports:  
      - '3000:3000'
    volumes:  
      - /app/log # persist logs
    depends_on:
      - db
    tty: true
    stdin_open: true

  nginx:
    build: nginx
    ports:
      - "80:80"
    volumes_from:
      - web
    depends_on:
      - web

  db:
    image: mysql2