// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time{
  margin-top: 10px;
}
.time_ul{
  margin-top: 1px;
  padding: 0;
}
.time_li{
  display: inline;
  margin-right: 15px;
}