// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #dbedf0;
  overflow-x: scroll;
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .list {
      position: relative;
      background: #80a491 ;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: block;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          margin-right: 10px;
          text-align: end;
          .fa-trash {
            margin-right: 5px;
            font-size: 18px;
            color: #660000;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        
        .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }

        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 30px;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }

        .addCard {
          color: #000000;
          &_link {
            color: #000000;
          }
        }
      }
    }
  }
}

.fa-pen{color:#1760a0;
  text-align: end;}
.topIllustration{
  display: flex;
  flex-direction: column;
text-align: center;
bottom: 50px;
right: 60px;
max-width: 400px;
position: fixed;
&__samurai{

  margin-right: 10px;
  margin-left: auto;
  width: 200px;
  height: 270px;

}
}
.balloon1 {
  position: relative;
  display: none;
  margin: 0;
  padding: 12px 10px;
  width: 355px;
  color: #555;
  font-size: 16px;
  background: white;
  border-radius: 15px;
  word-break: normal;

}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 235px;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid white;


}

.balloon1_p {
  word-break: normal;
  margin: 0;
  padding: 0;
}
